* {
    box-sizing: border-box;
}

html {
    --starlark-color: #5ca9b3;
    --bg-text: #fff;
    --text-color: #000;
    --bg-code: #eee; /* <code> */
    --bg-body: #eee;
    --bg-label: #ccc;
    --fg-label: #333;
    --bg-resizer: #aaa;
    --border-resizer: #333;
    --bg-tabs: #222;
}

@media (prefers-color-scheme: dark) {
    html {
        --starlark-color: #5ca9b3;
        --bg-text: #222;
        --text-color: #fff;
        --bg-code: #333; /* <code> */
        --bg-body: #111;
        --bg-label: #333;
        --fg-label: #ccc;
        --bg-resizer: #555;
        --border-resizer: #000;
        --bg-tabs: #111;
    }

    a {
        color: #aaf;
    }
}

#resources,
#about,
#spec {
    max-width: 800px;
    background: var(--bg-text);
    margin: 1em;
    border: 1px solid #8884;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
    align-self: center;
    padding: 16px;

    @media (max-width: 820px) {
        margin: 0;
        padding: 8px;
    }

    code {
        background: var(--bg-code);
    }

    pre {
        background: var(--bg-code);
        padding: 4px;
        border-radius: 4px;

    }

    h1 {
        color: var(--starlark-color);
    }
}

h2 {
    border-bottom: 1px solid var(--starlark-color);
}

h2,
strong {
    color: var(--starlark-color);
}

#playground {
    height: 100%;
    overflow: hidden;
}

code {
    white-space: pre-wrap;
}

.code-window {
    height: 100%;
    overflow: auto;
}

.code-editor {
    position: relative;
    width: 100%;
    height: 100%;
}

.logo {
    flex: 1;
    align-content: center;
    text-align: center;

    h1 {
        padding: 0px 8px;
        margin: -18px 0px 4px 0px;
        color: var(--starlark-color);
        line-height: 1em;
        font-variant: small-caps;
        font-size: 20px;
    }

    img {
        width: 96px;
    }
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-body);
    color: var(--text-color);
    line-height: 1.6;
}

.editor-output-container {
    display: flex;
    flex-direction: row;
    background: var(--bg-text);
    width: 100%;
    height: 100%;
}

.editor-container,
.output-container {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.prism-code-editor {
    height: 100% !important;
}

label {
    font-weight: bold;
    color: var(--fg-label);
    padding: 0.5em;
    background: var(--bg-label);
}

ul {
    padding-left: 1.5em;
}

.editor,
.output {
    flex: 1;
    padding: 10px;
    font-family: monospace;
    white-space: pre-wrap;
    overflow: auto;
}

.editor {
    cursor: text;
}

.resizer {
    background: var(--bg-resizer);
    border: solid var(--border-resizer);
    border-width: 0px 1px;
    cursor: ew-resize;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 0.8em;
}

/* Responsive Layout */
@media (max-width: 820px) {
    .editor-output-container {
        flex-direction: column;
    }

    .resizer {
        width: 100%;
        height: 5px;
        cursor: ns-resize;
    }
}


/* Tabs */
.tabs-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tabs {
    display: flex;
    background-color: var(--bg-tabs);
}

.tab-button {
    flex: 1;
    padding: 0.5em;
    text-decoration: none;
    font-size: 0.8em;
    text-align: center;
    background: inherit;
    color: #e0e0e0;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 8px 4px;
    border: 1px solid #0000;
    transition: all 0.5s ease;
    height: fit-content;
    align-self: center;
}

.tab-button.active {
    background: #5ca9b310;
    color: var(--starlark-color);
    border: 1px solid var(--starlark-color);
}

.tab-button:hover {
    background: #5ca9b310;
}

/* Fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

select {
    background-color: var(--bg-label);
    border-radius: 3px;
    border: 0px;
    color: var(--fg-label);
    font-family: inherit;
    font-size: 16px;
}

#about {
    font-size: 1.2em;
}

.hero {
    text-align: center;
    background-color: var(--starlark-color);
    padding: 48px;
    box-sizing: content-box;
    color: #000;
}

.title {
    font-size: 3em;
    margin-bottom: 10px;
    font-variant: small-caps;
}

.subtitle {
    font-size: 1.2em;
    opacity: 0.8;

}

hr {
    border-bottom: 1px solid var(--starlark-color);
    margin: 32px 0px;
}